# Fichiers Python compilés
__pycache__/
*.py[cod]
*.pyo

# Dossiers de build/distribution
dist/
build/
*.egg-info/
*.eggs/
*.manifest

# Fichiers d'exécutables
*.exe

# Fichiers temporaires de l'OS ou d'éditeurs
.DS_Store
Thumbs.db
*.log

# Notebooks temporaires
.ipynb_checkpoints/

# Environnements virtuels
venv/
.env/
.venv/
ENV/

# Dossiers créés par PyInstaller ou cx_Freeze
*.spec

# Fichiers Excel temporaires
~$*.xlsx
